.tableau {
margin-top: 5em;
}

table {
  background: white;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

table th {
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  background: #c6c6c6;
}

table td {
  background: transparent;
  text-align: center;
}

.ico-info{
  width: 2em;
  height: 2em;
}
