<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center">
      <!-- Left links -->
      <a class="navbar-brand" href="#">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Logo" width="30" height="24"
             class="d-inline-block align-text-top">
        Projet
      </a>

      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="vm$ | async as vm">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Accueil</a>
        </li>

        <ng-container *ngIf="vm.loggedIn; else notLoggedIn">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/client']">Client</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Panier <span class="badge">{{ produitsCount$ | async}}</span></a>
          </li>
        </ng-container>

        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Connexion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/client/register']">Inscription</a>
          </li>
        </ng-template>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
