<ul class="footer__social-media">
    <li>
        <a href="">
            <i class="fab fa-twitter footer__icon"></i>
        </a>
    </li>

    <li>
        <a href="">
            <i class="fab fa-google footer__icon"></i>
        </a>
    </li>
    
    <li>
        <a href=""> 
            <i class="fab fa-linkedin footer__icon"></i>
        </a>
    </li>

    <li>
        <a href="">
            <i class="fa-brands fa-github footer__icon"></i>
        </a> 
    </li>
</ul>

<div class="footer__copyright">
    <p>© 2022 Copyright: Rayane</p>   
</div>





    